<ion-header>
    <!--<ion-navbar color="dark">
        <ion-title>Search</ion-title>
    </ion-navbar>-->
    <ion-toolbar color="dark">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let mixtape of mixtapes" (click)="onNavigateToMixtape(mixtape)">
            <ion-icon name="albums"></ion-icon>
            <div class="inline-block ellipsis">
                {{ mixtape.title }}
                <div><small>{{ mixtape.artist }}</small></div>
            </div>
        </ion-item>
        <ion-item *ngFor="let song of songs" (click)="playSong(song)">
            <ion-icon name="musical-notes"></ion-icon>
            <div class="inline-block ellipsis">
                {{ song.title }}
                <div><small>{{ song.artist }}</small></div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>