search-page {
    ion-icon {
        font-size: 1.8em;
        padding-right: 10px;
        position: relative;
        bottom: 3px;
    }

    .inline-block {
        width: 91%;
        top: 3px;
    }    
}