// http://ionicframework.com/docs/v2/theming/
@import '../theme/variables';

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-title {
    // text-transform: uppercase;
}

ion-list {
    &.list-ios {
        margin: -1px 0 0 0;
    }
}

ion-list.margin-bottom {
    &.list-ios {
        margin-bottom: 32px;
    }
}

ion-img {
    &:before {
        content: '';
        float: left;
        padding-top: 100%;
    }

    &.round {
        .img-placeholder {
            border-radius: 50%;
        }
    }
}

ion-avatar {
    ion-img {
        .img-placeholder {
            border-radius: 50%;
        }
    }
}

ion-action-sheet {
    button {
        .button-inner {
            justify-content: flex-start;

            ion-icon {
                width: 35px;
            }
        }
    }
}

small {
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    display: none;
}

.inline-block {
    position: relative;
    display: inline-block;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.segment-ios {
    .segment-button {
        &:first-of-type, &:last-of-type {
            border-radius: 0px;
        }
    }
}

.round {
    border-radius: 50%;
}

.drop-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.centered {
    display: block;
    margin: auto;
}

.margin-top {
    margin-top: 16px !important;
}

.margin {
    margin: 8px;
}

// app specific styles

.row-x {
    .scroll-content {
        position: relative;
    }

    ion-grid {
        width: 200%;

        ion-col {
            border: none !important;
        }
    }
}

ion-col {
    .custom-card {
        position: relative;

        ion-card-content {
            padding: 10px;

            ion-card-title {
                font-size: 1.6rem;
                padding: 4px 0px;
            }
        }
    }
}