@import '../../theme/variables';

.avatar {
    width: 100%;
    margin: 10% 0%;
    text-align: center;

    /*ion-img {
        width: 40%;
        margin: auto;

        img {
            border-radius: 50%;
            border: 4px solid map-get($colors, primary);
        }
    }*/

    img {
        width: 40%;
        margin: auto;
        border: 4px solid map-get($colors, primary);
    }

    .username {
        color: map-get($colors, primary);
    }
}

ion-col {
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
    padding: 0px;
    
    &:nth-child(odd) {
        border-right: 1px solid #c8c7cc;
    }

    button {
        .item-inner {
            border-bottom: none !important;
            text-align: center;
        }
    }
}